.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 428px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 761px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* =========================HEADER================================ */
@media screen and (max-width: 767px) {
  .flex,
  .contacts-list {
    display: none;
  }
  .nav-flex {
    display: flex;
    justify-content: space-between;
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.34;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }

  .logo-second-part {
    color: #2e2f42;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu_close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu-font-desc {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-menu-font-desc:focus {
    color: #404bbf;
  }
  .mob-menu_nav-menu:not(:last-child) {
    margin-bottom: 40px;
  }

  .mob-menu_location-options {
  }

  .contacts_mobile-menu-phone {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      line-height 250ms cubic-bezier(0.4, 0, 0.2, 1) font-size line-height 250ms
        cubic-bezier(0.4, 0, 0.2, 1) font-weight 250ms
        cubic-bezier(0.4, 0, 0.2, 1) font-size line-height 250ms
        cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts_mobile-menu {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .contacts_mobile-menu:focus {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #4d5ae5;
  }
  .mobile-menu_phone-number {
    margin-bottom: 40px;
  }
  .mobile-menu_email-address {
    margin-bottom: 48px;
  }
  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:focus {
    background-color: #404bbf;
  }
  .social-list-mobile {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 56px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 22px;
  }
  .nav-flex {
    display: flex;
  }
  .logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.34;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 120px;
  }
  .logo-second-part {
    color: #2e2f42;
  }
  .flex {
    display: flex;
    position: relative;
    column-gap: 40px;
  }
  .page-links {
    display: flex;
    position: relative;
    align-items: center;
  }
  .underline-active::after {
    display: inline-block;
    position: absolute;
    content: "";
    left: 0px;
    top: 42px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
    margin-left: auto;
  }
  .text-characteristics {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-text-characterictics {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .text-characteristics:focus,
  .contacts-text-characterictics:focus {
    color: #404bbf;
  }

  .text-characteristics:focus,
  .contacts-text-characterictics:focus {
    color: #404bbf;
  }
  .email-position-desc {
    margin-bottom: 6px;
  }
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    margin-left: auto;
    display: flex;
    column-gap: 40px;
  }
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo {
    margin-right: 76px;
  }
  .text-characteristics:hover,
  .contacts-text-characterictics:hover {
    color: #404bbf;
  }
  .contacts-text-characterictics {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

/* =========================/HEADER================================ */
/* =========================HERO=================================== */
@media screen and (max-width: 767px) {
  .hero {
    background: #2e2f42;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office@2x.jpeg");
    }
  }
  .hero-promo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  .hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background: #2e2f42;
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  .hero-promo {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  .hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpeg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: 50% 50%;
  }

  .hero-button:hover {
    background-color: #404bbf;
  }
}

/* =========================/HERO=================================== */
/* =========================OUR ADVANTAGES========================== */
@media screen and (max-width: 767px) {
  .advantage-icons-list {
    display: none;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantage {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 9px;
  }
  .advantage-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 72px;
  }
  .advantage-desc-last {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .advantage-icons-list {
    display: none;
  }
  .advantage {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .advantage-description {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    flex-wrap: wrap;
  }
  .list-of-advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .section {
    padding-top: 96px;
  }
  .desc-wraper {
    display: flex;
    gap: 24px;
    margin-bottom: 64px;
  }
  .advantages-size-fixing {
    margin-bottom: 0px;
  }
  .section-tablet {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1158px) {
  .list-of-advantages {
    flex-wrap: nowrap;
  }
  .desc-wraper {
    display: flex;
    gap: 24px;
    margin-bottom: 0;
  }
  .advantage-icons-list {
    display: inline;
  }
  .icon-buth {
    background-color: #f4f4fd;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .advantage {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .advantage-description {
    display: block;
    font-weight: 400;
  }
  .section-tablet {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* =========================/OUR ADVANTAGES========================== */
/* =========================WHAT ARE WE DOING======================== */
@media screen and (max-width: 1157px) {
  .our-work-section {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .section-promo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .section-correction {
    padding-top: 0px;
    padding-bottom: 120px;
  }
  .pictures-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;
  }
  .pic {
    display: flex;
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
}
/* =========================/WHAT ARE WE DOING======================== */
/* =========================OUR TEAM================================== */
@media screen and (max-width: 767px) {
  .background {
    background: #f4f4fd;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .section-promo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .cards-of-emloyees {
    display: inline-table;
    margin-bottom: 72px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .list-of-employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .employee-name {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .employee-position {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
  }
  .employee-information {
    background: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 16px 32px 16px;
  }
  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:focus {
    background-color: #404bbf;
  }
  .emp-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .last-card-adjuster {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .background {
    background: #f4f4fd;
    padding-bottom: 96px;
  }
  .section-promo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .list-of-employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards-of-emloyees {
    flex-basis: calc(100% / 4 - 24px);
    margin-left: 0;
    margin-top: 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .employee-information {
    background: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 16px 32px 16px;
  }
  .employee-name {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .employee-position {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .social-list-icon {
    fill: #ffffff;
  }
  .social-list-link:focus {
    background-color: #404bbf;
  }
  .emp-wraper {
    display: flex;
    gap: 24px;
    margin-bottom: 64px;
  }
  .emp-wraper-two {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .list-of-employees {
    flex-wrap: nowrap;
    margin-left: -24px;
    margin-top: -24px;
  }
  .social-list-link:hover {
    background-color: #404bbf;
  }
  .emp-wraper {
    display: flex;
    gap: 0;
    margin-bottom: 0;
  }
  .cards-of-emloyees {
    margin-right: 24px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* =========================/OUR TEAM================================== */
/* =========================CUSTOMERS================================== */
@media screen and (max-width: 382px) {
  .section-s {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .our-customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .customer-list-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .customer-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customer-logo-link:focus {
    fill: #404bbf;
    border: 1px solid #404bbf;
    border-radius: 4px;
  }
  .customer-logo-list-splitter {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
  }
  .adjuster {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 382px) {
  .section-s {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .our-customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .customer-list-logo {
    display: block;
    /* flex-wrap: wrap;
    justify-content: center; */
  }
  .customer-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customer-logo-link:focus {
    fill: #404bbf;
    border: 1px solid #404bbf;
    border-radius: 4px;
  }
  .customer-logo-list-splitter {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 72px;
  }
  .adjuster {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .our-customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .customer-list-logo {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
  }

  .customer-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .cutsomer-logo-link:focus {
    fill: #404bbf;
    border: 1px solid #404bbf;
    border-radius: 4px;
  }
  .customer-list {
    margin-bottom: 72px;
  }
  .customer-list-adjuster {
    margin-bottom: 0;
  }
  .section-s {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customer-logo-list-splitter {
    display: block;
    margin-right: 24px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .customer-list {
    margin-bottom: 0;
  }
  .customer-logo-list-splitter {
    display: flex;
    flex-wrap: no-wrap;
    margin-bottom: 0;
  }

  .customer-logo-link:hover,
  .customer-logo-link:focus {
    fill: #404bbf;
    border: 1px solid #404bbf;
    border-radius: 4px;
  }
  .section-s {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* =========================/CUSTOMERS================================== */
/* =========================FOOTER===================================== */
@media screen and (max-width: 767px) {
  .footer {
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .logo-second-part-footer {
    color: #f4f4fd;
  }
  .footer-logo {
    justify-content: center;
    margin-bottom: 16px;
  }
  .why-choose-us {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
    display: flex;
    flex-wrap: wrap;
    max-width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
  .social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
  .social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media-links-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 72px;
  }
  .social-media-link:focus {
    background-color: #31d0aa;
  }
  .subscription-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
  }
  .social-media-links-footer {
    display: flex;
    gap: 16px;
  }
  .subscription-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .subscription-btn {
    margin-left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
  }

  .subscription-btn:hover,
  .subscription-btn:focus {
    background-color: #404bbf;
  }
  .subscription-btn-icon {
    fill: #ffffff;
    margin-left: 16px;
  }
  .user-subscription-email {
    width: 264px;
    height: 40px;
    background: #2e2f42;
    outline: none;
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .user-subscription-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }
  .right-side-footer {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .logo-second-part-footer {
    color: #f4f4fd;
  }
  .why-choose-us {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
    display: flex;
    flex-wrap: wrap;
    max-width: 264px;
  }
  .footer-logo {
    margin-bottom: 16px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }
  .social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
  }
  .social-media-links-footer {
    display: flex;
    gap: 16px;
  }
  .social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-media-link:focus {
    background-color: #31d0aa;
  }
  .left-side-footer {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .subscription-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .subscription-btn {
    margin-left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscription-form {
    display: flex;
  }

  .subscription-btn:focus {
    background-color: #404bbf;
  }
  .subscription-btn-icon {
    fill: #ffffff;
    margin-left: 16px;
  }
  .user-subscription-email {
    width: 264px;
    height: 40px;
    background: #2e2f42;
    outline: none;
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  .user-subscription-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 0;
    padding-bottom: 0;
  }
  .right-side-footer {
    margin-left: 120px;
  }
  .footer-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
  }
  .social-media-link:hover {
    background-color: #31d0aa;
  }
  .max-right-side-footer {
    margin-left: 80px;
  }
  .left-side-footer {
    margin-right: 0;
    margin-bottom: 0;
  }
  .subscription-btn:hover {
    background-color: #404bbf;
  }
}
/* =========================/FOOTER===================================== */
/* =========================PORTFOLIO=================================== */
/* =========================HEADER====================================== */
.underline {
  border-bottom: 1px solid #e7e9fc;
}
/* =========================/HEADER====================================== */
/* =========================MAIN========================================= */
.button-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 72px;
}
.button-specs {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-maim-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-specs:hover,
.button-specs:focus {
  background: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.sevices-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: -48px;
  margin-left: -24px;
}
.services-cards-items {
  flex-basis: calc(100% / 3 - 24px);
  margin-top: 48px;
  margin-left: 24px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services-cards-items:hover,
.services-cards-items:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cards-info {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.type-of-product {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.type-of-sphear {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.cards-info-no-up-border {
  border-top: 1px solid #ffffff;
}
.cards-layover {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link {
  display: block;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.cards-link:hover .cards-layover,
.cards-link:focus .cards-layover {
  transform: translate(0, 0);
}
/* =============================MODAL WINDOW====================== */
@media screen and (max-width: 450px) {
  .modal {
    position: absolute;
    display: flexbox;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
@media screen and (min-width: 451px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    display: flexbox;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
  }
  .close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-button:hover,
  .close-button:focus {
    background-color: #404bbf;
  }
  .modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-button:hover .modal-close-btn-icon,
  .close-button:focus .modal-close-btn-icon {
    fill: #ffffff;
  }
}

/* =============================/MODAL WINDOW====================== */
/* ==============================MODAL FORM====================== */
.ask-for-info {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  margin-right: 4px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}
.modal-form-check-desc::before {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  content: "";
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: #404bbf;
  background-image: url(../images/mark_sign.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 50% 50%;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  background-color: #404bbf;
  background-image: url(../images/mark_sign.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 50% 50%;
}
.modal-form-submit {
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  margin-bottom: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
}
.policy-link-spec {
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
/* =============================/MODAL FORM====================== */
